.root {
    margin-top: 20px;
    height: 800px;
}

.paper {
    margin: 0 5px 0 5px;
}

.nested {
    padding-left: 20px;
}

.icon {
    margin-right: 5px;
}

.link {
    color: black;
}

.close {
    margin: 5px 0 5px 0;
    float: right;
}

.content {
    margin-bottom: 10px;
}
